body {
    cursor: url('/static/images/nebulusCats/newRed.png'), auto;
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.noselect,
img,
svg,
thead,
button,
input {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.noclick {
    pointer-events: none;
}

.material-icons {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

/* width */
::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
    width: 5px;
    height: 5px;
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track-piece {
    background: #9ca3af;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

.dark ::-webkit-scrollbar-thumb {
    background: #555555;
}

.dark ::-webkit-scrollbar-track-piece {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    width: 10px;
    height: 10px;
}

.hover\:scroll {
    padding-right: 3px;
}

.hover\:scroll::-webkit-scrollbar {
    display: none;
}

.hover\:scroll:hover::-webkit-scrollbar {
    display: block;
}

.dark ::selection {
    background: #3498db;
}

::selection {
    background: #aed6f1;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-5xl {
    font-size: 3rem;
    line-height: 1;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.text-7xl {
    font-size: 4.5rem;
    line-height: 1;
}

.text-6xl {
    font-size: 3.75rem;
    line-height: 1;
}

.text-8xl {
    font-size: 6rem;
    line-height: 1;
}

.text-9xl {
    font-size: 8rem;
    line-height: 1;
}
