<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
    <style>
        .gradient-text {
            background: -webkit-linear-gradient(left, #ff00a6, #8000ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bolder;
        }

        .gradient-text-dark {
            background: -webkit-linear-gradient(left, #ff91d8, #c081ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bolder;
        }
    </style>
    <body>
    <div style="
    height: 100%;
    background-image: url('https://beta.nebulus.ml/static/images/wallpaper/jumpys_nebula.jpeg');
    background-position: center center;
    z-index: -1;
    top: 0;
    position: absolute;
    width: 30%;
    border-radius: 50% 0% 00% 50%;
    margin-left: 70%;
    background-size: cover;
    ">
        hi
    </div>
    {% include "utils/navbar.html" %}
    <div id="join-discord-alert" style="border-bottom-width: 5px" role="alert"
         class="p-2 w-full bg-blue-100/[.75] backdrop-blur-sm border-blue-500 dark:bg-blue-200/[.75] flex justify-between absolute">
        <div class="flex text-sm text-blue-700 dark:text-blue-800">
            <svg class="mr-2 w-6 h-6 text-blue-700 dark:text-blue-800" fill="currentColor" viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0
                 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
            </svg>
            <span style="margin-top: 2px">
                <a href=https://discord.gg/QNgTSN2PBM class="text-blue-500 hover:underline" target="_blank">Join our Discord server</a>
                to get the latest news and updates, and chill in a friendly, inclusive community.
            </span>
        </div>

        <span class="material-icons text-gray-600" data-dismiss-target="#join-discord-alert">close</span>
    </div>
    <div class="hidden lg:block w-full text-left mt-5" style="padding-left: 7%">
        <br><br>

        <div style="margin-top: 2%; width: 40%; float: left; margin-bottom: 6%" class="ml-6">
            <p class="text-7xl text-gray-600 dark:text-white">Learning, All In One</p>
            <br>
            <p class="text-2xl text-gray-900 dark:text-white">
                With Nebulus, have your whole learning experience
                <span class="gradient-text changeable-gradient">organized</span>
                and
                <span class="gradient-text changeable-gradient">simple</span>. All it takes is one
                <span class="gradient-text changeable-gradient">Nebulus Account</span>. Read more <a href="/about" class="text-sky-500 hover:underline">here</a>.
            </p>
            <br>
            {% if user %}
                <a href="/dashboard">
                    <button class="text-base text-white bg-gradient-to-r from-purple-500 to-pink-500
                     hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200
                      dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                        Launch Nebulus
                    </button>
                </a>
            {% else %}
                <a href="/signup">
                    <button class="text-base text-white bg-gradient-to-r from-purple-500 to-pink-500
                     hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200
                      dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                        Get Started
                    </button>
                </a>
            {% endif %}
            <a href="https://www.youtube.com/watch?v=DHbSw9wxFe0">
                <button class="text-base text-white bg-red-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                    Watch our Event
                </button>
            </a>
        </div>
        <img id="homePageBanner" src="/static/images/Nebulus Overview.png" style="width: 50%; float:left;"
             alt="Home Page Image"><br>
    </div>
    <div class="block lg:hidden"
         style="padding-left: 7%; margin-top: 5rem; width: 100%; justify-content: left; text-align: left; ">
        <br><br>
        <img id="homePageBanner2" src="/static/images/Nebulus Overview.png" style="width:100%;"
             alt="Home Page Image"><br>
        <div style="width:100%;margin-top: 4%">
            <p class="text-7xl text-gray-900 dark:text-white ">Learning, All In One</p>
            <br>
            <p class="text-2xl text-gray-900 dark:text-white">
                With Nebulus, have your whole learning experience
                <span class="gradient-text">organized</span>
                and
                <span class="gradient-text">simple</span>. Read more <a href="/about" class="text-sky-500 hover:underline">here</a>.
            </p>
            <p class="text-2xl text-gray-900 dark:text-white">
                All it takes is one
                <span class="gradient-text">Nebulus Account</span>.
            </p>
            <br><br>
            {% if user %}
                <a href="/dashboard">
                    <button type="button"
                            class="text-base text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                        Launch App
                    </button>
                </a>
            {% else %}
                <a href="/signup">
                    <button type="button"
                            class="text-base text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                        Get Started
                    </button>
                </a>
            {% endif %}
            <a href="https://www.youtube.com/watch?v=DHbSw9wxFe0">
                <button class="text-base text-white bg-red-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                    Watch our Event
                </button>
            </a>
        </div>
    </div>
    <br><br>
    <div class="flex flex-col items-center justify-center" style="clear: left;">
        <h1 class="text-5xl text-blue-600 dark:text-white">
            Nebulus. Education. Redefined.
        </h1>
        <br>
        <div class="flex flex-col lg:flex-row" id="feature-list">
            <div class="mt-4 mx-2">
                <div class="h-80 block p-6 max-w-sm bg-gray-200 rounded-[30px] border border-gray-200 shadow-md hover:bg-gray-100/50 dark:bg-gray-800/50 dark:border-gray-700 dark:hover:bg-gray-700/50">
                    <div style="height:85%;">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            Connect all of Learning</h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400">
                            No more switching between websites. Get your Schoology, Google Classroom, and Canvas
                            accounts connected today.
                        </p>
                        <br>
                    </div>
                    <a href="/dashboard"
                       class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Start Now!
                        <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="mt-4 mx-2">
                <div class="h-80 block p-6 max-w-sm bg-gray-200 rounded-[30px] border border-gray-200 shadow-md hover:bg-gray-100/50 dark:bg-gray-800/50 dark:border-gray-700 dark:hover:bg-gray-700/50">
                    <div style="height:85%;">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            Organize your Learning Experience
                        </h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400">With Nebulus, there is no need to have
                            your papers, documents, assignments, textbooks, and events be all over the place.
                            With Nebulus, everything is organized for you in an easy-to-use way!</p>
                        <br>
                    </div>
                    <a href="/dashboard"
                       class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Start Now!
                        <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="mt-4 mx-2">
                <div class="h-80 block p-6 max-w-sm bg-gray-200 rounded-[30px] border border-gray-200 shadow-md hover:bg-gray-100/50 dark:bg-gray-800/50 dark:border-gray-700 dark:hover:bg-gray-700/50">
                    <div style="height:85%;">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Make Learning
                            Easier</h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400">We have tools to organize your studying,
                            organize your materials, make learning fun, and keep you focused!</p>
                        <br>
                    </div>
                    <a href="/dashboard"
                       class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Start Now!
                        <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <center>
        <div id="chart">

            <iframe style="background: rgba(255, 255, 255, 0.5); border-radius:10px;border: none; margin:10px; "
                    width="80%" height="580"
                    src="https://charts.mongodb.com/charts-project-0-dixeb/embed/charts?id=62c4eb23-6d77-4441-8174-0fc61c500111&maxDataAge=3600&theme=lightk&autoRefresh=true"></iframe>
        </div>
    </center>
    <span id="frame_number" type="number" style="display:none;">0</span>
    </body>
    <script>
        window.onload = function () {
            if (localStorage.getItem("color-theme") === "dark") {
                let daelements = document.getElementsByClassName("changeable-gradient");
                console.log(daelements);
                for (let element of daelements) {
                    element.classList.remove("gradient-text");
                    element.classList.add("gradient-text-dark");
                }
            }
            //document.getElementById("frame_number").innerHTML= "0";
        }

        function changeImage() {
            let home_images = [
                "Nebulus Overview.png",
                "Nebulus Overview2.png",
                "Nebulus Overview3.png",
                "imageHome.png"
            ]
            let banner = document.getElementById("homePageBanner");
            let banner2 = document.getElementById("homePageBanner2");
            let number = document.getElementById("frame_number");
            banner.src = `/static/images/${home_images[parseInt(number.innerHTML)]}`;
            banner2.src = `/static/images/${home_images[parseInt(number.innerHTML)]}`;
            document.getElementById("frame_number").innerHTML = `${(parseInt(document.getElementById("frame_number").innerHTML) + 1) % 4}`;
            return true;
        }

        setInterval(changeImage, 3000);

    </script>
    {% include "utils/footer.html" %}
{% endblock %}
