<!--Extend with Jinja!-->
<script src="https://unpkg.com/flowbite@1.4.5/dist/flowbite.js"></script>
<script type="text/javascript" src="//cdn.socket.io/4.4.1/socket.io.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="module" src="https://unpkg.com/whatwg-fetch@3.6.2/fetch.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdn.skypack.dev/smile2emoji"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.8/purify.min.js"></script>
<script type="text/javascript" src="/static/js/main/main.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/js/chat.js"></script>

<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet">
{% extends "layout.html" %}
{% block main %}
    {% include "utils/navbar.html" %}
    <style>
        img.emoji {
            display: inline-block;
            height: 1em;
            width: 1em;
            margin: 0 0.05em 0 0.1em;
            vertical-align: -0.1em;
        }

        .roboto {
            font-family: 'Roboto', 'serif' !Important;
        }

        code {
            background: #121926;
            border-color: grey;
            border-width: 1px;
            margin: 10px;

        }

        #main-area ul, #main-area menu, #preview ul, #preview menu {
            list-style: disc;
        }

        #main-area ol, #main-area menu, #preview ol, #preview menu {
            list-style: decimal;
        }

        h1 {
            font-size: 32px;
        }

        h2 {
            font-size: 24px;
        }

        h3 {
            font-size: 18.72px;
        }

        h4 {
            font-size: 16px;
        }

        h5 {
            font-size: 13.28px;
        }

        h6 {
            font-size: 10.72px;

        }

        blockquote {
            border-style: none none none solid;
            border-width: 3px;
            padding: 5px;
            border-color: grey;
        }

        textarea:focus {
            outline: none !important;
        }

        iframe {
            background-image: url('/static/images/nebulusCats/v3.gif');
            background-size: 20%;
            background-position: 45%;
            background-repeat: no-repeat;
            overflow-x: hidden;
            width: 100%;
            height: 100%;
        }

        textarea {
            resize: none;
        }

        textarea:focus {
            outline: none !important;
            border-style: none !important;
            border-width: 0 !important;
        }

        div::-webkit-scrollbar {
            display: none;
        }
    </style>
    <div id="user-data" class="w-0 h-0 invisible">{{ user_obj._id }}</div>
    <div class="flex flex-row w-full bg-white/50 dark:bg-gray-900/50" style="height:89%;">
        <div style="float:left;flex:0 0 315px;width:315px;" class="noselect h-full justify-start" aria-label="Sidebar">
            <div class="px-3 py-4 overflow-y-auto rounded bg-gray-100/75 dark:bg-gray-800/75 h-full" id="chat-sidebar">
                <form>
                    <label for="default-search" class="mb-2 text-xs text-gray-900 sr-only dark:text-stone-400">Search or
                        start a conversation</label>
                    <div class="relative">
                        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                            <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor"
                                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                            </svg>
                        </div>
                        <input type="search" id="default-search"
                               class="block p-2 pl-10 pr-0 w-full text-2xs text-gray-900 bg-gray-50 rounded-md border border-gray-300 focus:ring-slate-900 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               placeholder="Find or Start a Conversation" style="font-size:15px;" required>
                    </div>
                </form>
                <div class="flex flex-col w-full rounded-sm ">
                    <div id="friends_btn" onclick="openFriends()"
                         class="flex flex-row dark:hover:bg-zinc-700 hover:bg-gray-200 rounded-lg">
                        <div style="margin-bottom:0px;"
                             class="flex items-center space-x-4">
                            <i class="material-icons text-black dark:text-stone-400"
                               style="font-size:40px;margin:10px;">group</i>
                            <div class="space-y-1 text-lg dark:text-stone-400">
                                <div>Friends</div>
                            </div>
                        </div>
                        <div class="inline-flex items-center mt-5 p-1 ml-32 mr-3 h-5 w-5 text-sm font-semibold text-white rounded-full bg-red-500">
                            {{ user_obj.chatProfile.incomingFriendRequests|length }}

                        </div>
                    </div>
                    <div id="blocked_btn" onclick="openBlocked()" style="margin-bottom:0px;"
                         class="flex items-center space-x-4 dark:hover:bg-zinc-700 hover:bg-gray-200 rounded-lg">
                        <i class="material-icons text-black dark:text-stone-400" style="font-size:40px;margin:10px;">block</i>
                        <div class="space-y-1 text-lg dark:text-stone-400">
                            <div>Blocked</div>
                        </div>
                    </div>
                    <div id="emojis_btn" onclick="toggleEmoji()" style="margin-bottom:0px;"
                         class="flex items-center space-x-4 dark:hover:bg-zinc-700 hover:bg-gray-200 rounded-lg">
                        <i class="material-icons text-black dark:text-stone-400" style="font-size:40px;margin:10px;">mood</i>
                        <div class="space-y-1 text-lg dark:text-stone-400">
                            <div>Emojis</div>
                        </div>
                    </div>
                    <div id="email_btn" onclick="toggleEmail();" style="margin-bottom:0px;"
                         class="flex items-center space-x-4 dark:hover:bg-zinc-700 hover:bg-gray-200 rounded-lg">
                        <i class="material-icons text-black dark:text-stone-400" style="font-size:40px;margin:10px;">mail</i>
                        <div class="space-y-1 text-lg dark:text-stone-400">
                            <div>Emails</div>
                        </div>
                    </div>
                    <div class="flex flex-row">
                        <div class="uppercase text-xl text-gray-600 cursor-pointer" style="font-size:20px;">Direct
                            Messages
                        </div>
                        <div style="float:right;font-size:20px;margin-left:80px;" class="text-gray-600"
                             data-dropdown-toggle="dropdown">+
                        </div>
                    </div>
                    <div id="user-chats"></div>
                    <div id="dropdown"
                         class="z-10 hidden bg-white rounded shadow w-96 dark:bg-gray-700">
                        <form class="mx-4">
                            <label for="default-search"
                                   class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
                            <div class="relative">
                                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                    <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                                         stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                    </svg>
                                </div>
                                <input id="search_input" type="search" oninput="changeSearch()"placeholder="Search by username" autocomplete="off"
                                       class="block mt-6 mb-6 p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50
                                           rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500
                                           dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                           dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            </div>
                        </form>
                        <ul id="search_items" class="hover:scroll overflow-auto text-black dark:text-white"
                            style="max-height: 20rem">
                            <li class="py-2.5 rounded-lg text-center px-4 py-2 mx-2 mb-5">
                                Start typing to search
                            </li>
                        </ul>
                    </div>

                </div>
                <div style="position: absolute; bottom: 0; width:315px; left:0; margin:0 !important;"
                     class="bg-gray-300 dark:bg-gray-600 flex flex-row">
                    <div class="pt-2 pb-2 flex flex-col" style="display: inline-block;  margin:5px;">
                        <button class="rounded-full border-gray-300 border-none w-12 h-12
                             dark:bg-gray-900 dark:hover:bg-gray-800 ">
                            <logo image="{{ user_obj.avatar.avatar_url }}" no-revert="" class="h-6 mx-auto my-auto ">
                                <img alt="logo"
                                     style="filter: brightness(100%);">
                            </logo>
                        </button>
                    </div>
                    <div style="display: inline-block; margin:5px; " class="pt-2 pb-2 flex flex-col">
                        <span class="text-xl text-black dark:text-white">{{ user }}</span><br>
                        <span class="text-sm text-gray-400 dark:text-gray-200">{{ status }}</span>
                    </div>

                </div>
                <style>
                    #dropdownTop {
                        margin-left: 10px !important;
                    }
                </style>
                <!-- Dropdown menu -->
                <div id="dropdownTop"
                     class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 bg-gray-200 dark:bg-gray-700"
                     style="margin-left: 10px !important;">
                    <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownTopButton">
                        <li>
                            <span class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                <span class="inline-block w-3 h-3 bg-green-400 rounded-full"></span>
                                Online</span>
                        </li>
                        <li>
                            <span class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                <svg class="inline-block w-3 h-3" fill="#FAA91B" stroke="currentColor"
                                     viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke-width="0"><path
                                        stroke-linecap="round" stroke-linejoin="round"
                                        d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path></svg>
                                Idle</span>
                        </li>
                        <li>
                            <span class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                <svg class="inline-block w-3 h-3" fill="#EC4144" stroke="#374151" viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round"
                                                                              stroke-linejoin="round" stroke-width="2"
                                                                              d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                                Do Not Disturb</span>
                        </li>
                        <li>
                            <span class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                <span style="border-width:3px;"
                                      class="inline-block w-3 h-3 border-2 border-gray-500 rounded-full"></span>
                                Invisible</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="justify-center" style="width: calc(100% - 595px);-ms-overflow-style: none; " id="main-area">

            <div style="padding-left:20px;display:flex;flex-direction: column-reverse;overflow-y:scroll; height:71%;"
                 id="chat">


            </div>

            <form id="msg" style="width:100%;" onsubmit="sendMessage(); return false;">
                <label for="chat" class="sr-only">Your message</label>
                <div class="flex items-center py-2 px-3 bg-gray-50 rounded-lg dark:bg-gray-700 m-6 ">
                    <button type="button"
                            class="hidden md:block inline-flex justify-center p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </button>
                    <button data-dropdown-toggle="emojiPicker" data-dropdown-placement="top" type="button"
                            class="hidden md:block p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zm-.464 5.535a1 1 0 10-1.415-1.414 3 3 0 01-4.242 0 1 1 0 00-1.415 1.414 5 5 0 007.072 0z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </button>
                    <div id="emojiPicker"
                         class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700">
                    </div>
                    <div class="block mx-4 p-2.5 w-full">
                        <div id="preview" class="roboto text-black dark:text-white"></div>
                        <br><br>
                        <textarea id="msg_content" rows="1"
                                  class="block p-2.5 w-full text-sm text-gray-900 dark:border-gray-700 border-white dark:bg-gray-700 bg-white dark:text-white"
                                  placeholder="" required></textarea>
                    </div>
                    <button type="submit"
                            class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600">
                        <svg class="w-6 h-6 rotate-90" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path>
                        </svg>
                    </button>
                </div>
            </form>

        </div>

        <div class="justify-center" style="width: calc(100% - 330px); display:none;" id="friends">
            <form class="mx-4">
                <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
                <div class="relative">
                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor"
                             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                        </svg>
                    </div>
                    <input id="search_fr" type="search" placeholder="Search by username" autocomplete="off" class="block mt-6 mb-6 p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50
                                           rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500
                                           dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                           dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <a href="javascript:getChat(1538912503336140800)">
                    <div style="margin-bottom:4px;"
                         class="p-2 flex items-center space-x-4 dark:bg-gray-600 bg-gray-300 dark:hover:bg-gray-700 hover:bg-gray-200 rounded-lg">
                        <div class="relative">
                            <img class="w-10 h-10 rounded-full" src="/static/images/nebulusCats/v3.gif" alt="">
                            <span class="bottom-0 left-7 absolute  w-3 h-3 bg-green-400 border-white dark:border-gray-800 rounded-full"></span>
                        </div>
                        <div class="space-y-1 font-medium dark:text-white">
                            <div class="dark:text-gray-300" style="font-size:20px">Coder N</div>
                            <div class="text-sm text-gray-500 dark:text-gray-400" style="font-size:13px;"></div>
                        </div>
                    </div>
                </a>
            </form>
        </div>
        <div class="justify-center" style="width: calc(100% - 330px); display:none;" id="blocked">
            <form class="mx-4">
                <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
                <div class="relative">
                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor"
                             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                        </svg>
                    </div>
                    <input id="search_bk" type="search" placeholder="Search by username" autocomplete="off" class="block mt-6 mb-6 p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50
                                           rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500
                                           dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                           dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <a>
                    <div style="margin-bottom:4px;"
                         class="p-2 flex items-center space-x-4 dark:bg-gray-600 bg-gray-300 dark:hover:bg-gray-700 hover:bg-gray-200 rounded-lg">
                        <div class="relative">
                            <img class="w-10 h-10 rounded-full" src="/static/images/nebulusCats/v3.gif" alt="">
                            <span class="bottom-0 left-7 absolute  w-3 h-3 bg-green-400 border-white dark:border-gray-800 rounded-full"></span>
                        </div>
                        <div class="space-y-1 font-medium dark:text-white">
                            <div class="dark:text-gray-300" style="font-size:20px">Coder N</div>
                            <div class="text-sm text-gray-500 dark:text-gray-400" style="font-size:13px;"></div>
                        </div>
                    </div>
                </a>
            </form>
        </div>
        <div class="justify-center" style="width: calc(100% - 330px); display:none;" id="emojis">
            <div class="m-6">
                <h1 class="text-black dark:text-white text-3xl">Custom Emojis</h1>
                <p class="text-black dark:text-white">You have 15 slots for custom static emojis and 5 animated ones.
                    Premium accounts have up to 30 slots.</p>
                <br>
                <button type="button"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                    Upload Emoji
                </button>

                <h2 class="text-black dark:text-white text-2xl">Your Own Custom Emojis - 15 slots Available</h2>
                <p class="text-black dark:text-white">No emojis yet! :(</p><br><br>

                <h2 class="text-black dark:text-white text-2xl">Your Own Animated Custom Emojis - 5 slots Available</h2>
                <p class="text-black dark:text-white">No emojis yet! :(</p>


            </div>
        </div>
        <div class="justify-center" style="width: calc(100% - 330px); display:none;" id="emails">
            <iframe id="email_iframe"></iframe>
        </div>
        <div style="flex: 0 0 280px; width: 280px;" class="noselect" id="members-sidebar">
            <div class="px-3 py-4 overflow-y-auto rounded bg-gray-100/75 dark:bg-gray-800/75 h-full">
                <form>
                    <label for="default-search"
                           class="mb-2 text-xs text-gray-900 sr-only dark:text-stone-400">Search</label>
                    <div class="relative">
                        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                            <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor"
                                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                            </svg>
                        </div>
                        <input type="search" id="default-search"
                               class="block p-2 pl-10 pr-0 w-full text-2xs text-gray-900 bg-gray-50 rounded-md border border-gray-300 focus:ring-slate-900 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               placeholder="Search this Chat" style="font-size:15px;" required>
                    </div>
                </form>
                <div class="flex flex-col w-full rounded-sm ">
                    <div class="flex flex-row">
                        <div class="uppercase text-xl text-gray-600 cursor-pointer" style="font-size:20px;">Members
                        </div>
                        <div style="float:right;font-size:20px;margin-left:140px;" class="text-gray-600"
                             data-dropdown-toggle="dropdown">+
                        </div>
                    </div>

                    <div id="chat-members"></div>

                </div>
            </div>
        </div>

    </div>

    <script type="module">
     import { createPicker } from 'https://unpkg.com/picmo@5.1.0/dist/index.js';
     import smile2emoji from "https://cdn.skypack.dev/smile2emoji";
     let textarea_el = document.getElementById('msg_content');
            console.log(textarea_el);
        textarea_el.oninput = function () {
                updateEditor(textarea_el, document.getElementById('preview'));
            };

        marked.use({gfm: false});



        function updateEditor(input, preview) {
            console.log('hi');
            input.value = smile2emoji.checkText(input.value);


            preview.innerHTML =
                DOMPurify.sanitize(twemoji.parse(marked.parse(input.value)));
            const manageInput = (e) => {
                e.target.value = smile2emoji.checkText(e.target.value);
            };

        }

        // The picker must have a root element to insert itself into
        const rootElement = document.querySelector('#emojiPicker');

        // Create the picker
            const picker = createPicker({
            rootElement,
            renderer: new TwemojiRenderer()
        });
    </script>

{% endblock %}