<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
    <body style="background-color:white;">
    <center>
        <br>
        <h1 class="text-black dark:text-white"><strong>Coming Soon</strong></h1>
        <span class="smaller">This page isn't quite ready yet! Hopefully it will be up and running very soon! </span><br><br>

        <a href="/dashboard"><button class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:ring-green-200 dark:focus:ring-green-800">
  <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
      Return Back to Dashboard
  </span>
</button></a>
    </center>
    </body>

{% endblock %}
