<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
    <div style="margin-left: 20px; margin-top: 20px">
        <p class="text-3xl dark:text-white">
            <span style="float:left;">Name: </span>
            <span class="text-red-400">
                <input style="float:left;width:50%; margin-left:20px;" value="{{ course.name }}" required id="name" type="text"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                        focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
                         dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
            </span>
        </p>
        <br><br><br>
        <p class="text-3xl dark:text-white">
            <span style="float:left;">Teacher: </span>
            <span class="text-red-400">
                    <input style="float:left;width:50%; margin-left:20px;" type="text" id="teacher"
                           value="{{ course.teacher }}" required
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                    focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
                     dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
            </span>
        </p>
        <br><br><br><br>
        <button onclick="saveChanges()" type="button"
                class="focus:outline-none text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900">
            Save Changes
        </button>
        <button onclick="deleteCourse()" type="button"
                class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
            Delete Course
        </button>

    </div>
    <script>
        function deleteCourse(){
            const request = $.ajax({
                type: "POST",
                url: "/api/v1/internal/delete-course",
                data: JSON.stringify({
                    course: "{{ course_id }}",
                }),

                contentType: 'application/json; charset=utf-8',
            });
            request.done((data) => {
                window.close();
            });
        }
        function saveChanges(){
            const request = $.ajax({
                type: "POST",
                url: "/api/v1/internal/change-course",
                data: JSON.stringify({
                    course: "{{ course_id }}",
                    name: document.getElementById("name"),
                    teacher: document.getElementById("teacher")

                }),

                contentType: 'application/json; charset=utf-8',
            });
            request.done((data) => {
                window.location.reload();
            });
        }
    </script>

{% endblock %}