<!--Extend with Jinja!-->
{% extends "layout.html" %}
{% block main %}
    {% if course.textbooks|length == 0%}
        <h1 class="text-4xl text-black dark:text-white">You have no textbooks!</h1>
    {% endif %}
{% for i in course.textbooks %}
    <a href="{{ i.link }}" style="margin:10px; float:left;" href="#"
       class="flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <img class="object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
             src="{{ i.avatar }}" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ i.name }}</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ i.author }}</p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ i.provider }}</p>
        </div>
    </a>
{% endfor %}


{% endblock %}